[submodule "software/src/avr-driver/DS3231"]
	path = software/src/avr-driver/DS3231
	url = https://github.com/libdriver/ds3231.git
[submodule "software/subprojects/simavr-toolbox"]
	path = software/subprojects/simavr-toolbox
	url = git@github.com:squared-electronic/simavr-toolbox.git
