[submodule "software/subprojects/simavr-toolbox"]
	path = software/subprojects/simavr-toolbox
	url = git@github.com:squared-electronic/simavr-toolbox.git
[submodule "software/submodules/bitproto"]
	path = software/submodules/bitproto
	url = git@github.com:hit9/bitproto.git
[submodule "software/src/avr-driver/DS1307"]
	path = software/src/avr-driver/DS1307
	url = git@github.com:squared-electronic/ds1307.git
[submodule "software/submodules/bmodbus"]
	path = software/submodules/bmodbus
	url = git@github.com:squared-electronic/bmodbus.git
[submodule "software/submodules/hat-trie"]
	path = software/submodules/hat-trie
	url = git@github.com:Tessil/hat-trie.git
[submodule "software/subprojects/hat-trie"]
	path = software/subprojects/hat-trie
	url = git@github.com:Tessil/hat-trie.git
[submodule "software/submodules/lodepng"]
	path = software/submodules/lodepng
	url = git@github.com:lvandeve/lodepng.git
