# https://github.com/clangd/clangd/issues/2216
# We use attiny3224, but Clang does not support this one. It looks to be really new.
# Use the next closest chip, just for intellisense. Compile with the right one, of course.
# CompileFlags:
# Add: [-mmcu=attiny3216]
# Remove: [-mmcu]

CompileFlags:
  Compiler: avr-g++
  Add:
    [
      -D__WCHAR_MIN__=0,
      -DINT16_MAXU=32727,
      -DINT32_MAXU=2147483647,
      -D__WCHAR_MAX__=65535,
      -D__STDC_LIMIT_MACROS,
      -DETL_NO_STL,
    ]
  BuiltinHeaders: QueryDriver
