# ============== CPP

# Meson
subprojects/.wraplock

# Clangd
clangd_snapshot/
builddir/

# Comms
src/comms/build/
src/comms/.cache/
src/comms/sdkconfig.old


*lck
*.zip

*.lst
*.map
*.elf
*.eep
*.lss
*.hex
*.sym

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rust (comms)
src/comms/target/
